@import '_id-styleguide';

body {
  background-image: url("img/david-attenborough-16x9-1700x956.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

// a {
//   color: #000;
// }


// PROTOTYPE
//

.p-container {
  padding: 64px 0 64px 10%;
}
  .p-bbc-blocks {
    width: 84px;
    margin-bottom: 24px;
  }


// COMPONENTS
//

  .p-signin {
    background-color: #FFF;
    width: 480px;
  }

  .p-signin__header,
  .p-signin__main,
  .p-signin__footer {
    padding: 32px;
  }

  .p-signin__header {}

  .p-signin__main {
    padding: 0 32px 32px;
  }
    .p-signin__control {
      margin-bottom: 16px
    }

  .p-signin__footer {
    border-top: 1px solid #B3B3B3;
  }

// ADDITIONS
//

  .link {
    color: #000;

    &:hover {
      color: #005BC8;
    }
  }

  .link--primary {
    border-bottom-color: #006def;
    color: #006def;
  }

  // Change '.field .form-message:after'
  .field--action .form-message:after {
    display: none;
  }

  .b-version .field--action .form-message:after {
    top: -8px;
    display: block;
  }

  // Previously '.field--invalid'
  .field--action .field__decoration:before {
    width: 100%;
  }

  .field--action > .field__input-container > .field__decoration:before {
    border-color: #3C6DEF;
  }

  // Previously '.field__error'
  .field__action + .field__info {
    margin-top: 8px;
  }


  // New
  .field__action {
    position: relative;
  }
    .field__action__triangle {
      position: absolute;
        top: -13px;
    }
  .action__dismiss {
    color: #3C6DEF;
    font-weight: bold;
    position: absolute;
      right: 24px;
    text-decoration: none;
  }

  .form-message--info .link {
    color: #3C6DEF;
    border-color: #3C6DEF;

    &:hover {
      color: inherit;
    }
  }

  // Previously '.form-message--error'
  .field .form-message--action:after {
    border-bottom-color: #3C6DEF;
  }

  .form-message--action {}

  .field--action .field__input {}

// STATE
//

.field .form-message {
  display: none;
}

.field--action .form-message {
  display: inline-block
}
